<%- include("../../partials/header.ejs", {
    image_url : "",
    title : `Aquamarine - ${view_user.mii_name}`,
	description : ""
}) -%>

<body>
	<%- include("../../partials/elements/navbar.ejs") -%>

	<div class="wrapper">
		<div class="user-wrapper">
			<div class="user-sidebar">
				<div class="user-info-wrapper">
					<%- include("../../partials/elements/ugc/user_side_panel.ejs", {
						account : view_user
				}) -%>
				</div>

				<div class="user-menu">
					<div class="trigger all-posts">
						<span>All Posts</span>
						<span class="number"><%= view_user_stats.post_count %></span>
					</div>
					<div class="trigger empathies">
						<span>Yeahs</span>
						<span class="number"><%= view_user_stats.empathy_count %></span>
					</div>
				</div>

				<div class="user-info-wrapper">
					<p class="bio"><%= view_user.bio %></p>
				</div>
			</div>

			<div class="user-main-wrapper">
				<div class="user-posts">
					<div class="header guide">
						<span>Latest Posts</span>
					</div>

					<div class="list">
						<% var last_community_id; var show_community; for (const post of view_user_posts) {
							if (last_community_id === post.community_id) { show_community = false } else { show_community = true } %>
						<%- include("../../partials/elements/ugc/posts.ejs", {
                                post : post,
								show_community : show_community
                        }) -%>
						<% last_community_id = post.community_id } %>

						<% if (view_user_posts.length <= 0) { %>
						<span class="no-posts">No posts were found.</span>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include("../../partials/elements/footer.ejs") -%>
</body>