<div class="community" id="community-<%= community.id %>" data-href="/communities/<%= community.id %>">
    <a href="/communities/<%= community.id %>">
        <% if (include_banner && community.cdn_ctr_banner_url) { %>
            <img class="banner" src="<%= community.cdn_ctr_banner_url %>" alt="<%= community.name %>">
        <% } %>
    </a>

    <div class="community-info trigger">
        <div class="icon-wrapper">
            <img class="icon" src="<%= community.cdn_icon_url %>" alt="<%= community.name %>">
        </div>
        <div class="community-meta">
            <span class="name trigger"><%= community.name %></span>
            <span class="platform <%= community.platform %>"><% switch (community.platform) {
                case "wiiu":%>
                    Wii U Games
                    <%break;
                case "3ds":%>
                    Nintendo 3DS Games
                    <%break;
                case "both":%>
                    Wii U/3DS Games
                    <%break;
                case "vc":%>
                    Virtual Console Games
                    <%break;
                case "topic":%>
                    General Topic
                    <%break;
                case "wii":%>
                    Wii Games
                    <%break;
            } %></span>
        </div>
    </div>
</div>