<%- include("../partials/header.ejs", {
    image_url : community.cdn_icon_url,
    title : `Aquamarine - ${community.name}`,
    description : community.description
}) -%>

<body>
    <%- include("../partials/elements/navbar.ejs") %>

    <div class="wrapper">
        <div class="community-wrapper">
            <div class="community-sidebar">
                <div class="community-banner">
                    <% if (community.cdn_ctr_banner_url) { %>
                        <a href="/communities.html">
                            <img src="<%= community.cdn_ctr_banner_url %>" height="137px">
                        </a>
                    <% } %>
                </div>
                <div class="community-info-wrapper">
                    <div class="community-info">
                        <img class="icon" src="<%= community.cdn_icon_url %>" width="55px">

                        <div>
                            <% if (community.type=="main" ) {%>
                                <span class="community-type">Main Community</span>
                            <%} else if (community.type=="sub" ) {%>
                                <span class="community-type">Sub Community</span>
                            <%} else if (community.type=="announcement" ) {%>
                                <span class="community-type">Announcement Community</span>
                            <%}%>
                            <span class="community-name"><%= community.name %></span>
                            <span class="community-app-name"><%= community.app_name %></span>
                        </div>
                    </div>

                    <% if (community.description) { %>
                        <div class="community-description-wrapper">
                            <span><%= community.description %></span>
                        </div>
                    <% } %>   
                </div>

                <div class="community-add-post">

                </div>
            </div>
            <div class="community-content">
                <div class="community-post-list popular">
                    <div class="header">
                        <span>Popular Posts</span>
                    </div>

                    <div class="list">
                        <% for (const post of popular_posts) { %>
                            <%- include("../partials/elements/ugc/posts.ejs", {
                                post : post
                            }) -%>
                        <% } %>

                        <% if (popular_posts.length <= 0) { %>
                            <span class="no-posts">There are no posts yet.</span>
                        <% } %>
                    </div>   
                </div>

                <div class="community-post-list paintings">
                    <div class="header">
                        <span>Recent Drawings</span>
                    </div>

                    <div class="list">
                        <% for (const drawing of recent_drawings) { %>
                            <%- include("../partials/elements/ugc/posts.ejs", {
                                post : drawing
                            }) -%>
                        <% } %>

                        <% if (recent_drawings.length <= 0) { %>
                            <span class="no-posts">There are no posts yet.</span>
                        <% } %>
                    </div>
                </div>

                <div class="community-post-list ingame">
                    <div class="header">
                        <span>In-Game Posts</span>
                    </div>

                    <div class="list">
                        <% for (const post of ingame_posts) { %>
                            <%- include("../partials/elements/ugc/posts.ejs", {
                                post : post
                            }) -%>
                        <% } %>

                        <% if (ingame_posts.length <= 0) { %>
                            <span class="no-posts">There are no posts yet.</span>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../partials/elements/footer.ejs") -%>
</body>

</html>