<%- include("../partials/header.ejs", {
    image_url : community.cdn_icon_url,
    title : `Aquamarine - ${community.name}`,
    description : community.description
}) -%>

<body>
	<%- include("../partials/elements/navbar.ejs") %>

	<div class="wrapper">
		<div class="community-wrapper">
			<%- include("../partials/elements/database-elements/community_sidebar.ejs") -%>

			<div class="community-content">
				<% if (locals.guest_mode && !community.type === "announcement") { %>
				<%- include("../partials/elements/ugc/guest_mode/communities_posts.ejs") -%>
				<% } else { %>
				<div class="community-post-list normal">
					<div class="header">
						<span>Posts</span>
					</div>

					<% if (!locals.guest_mode && locals.user && (community.type === "announcement" && locals.user.admin === 1) || community.type !== "announcement" && community.ingame_only !== 1) { %>
					<%- include("../partials/elements/add_post.ejs", {
						placeholder: `Share your thoughts with the ${community.name} Community!`
					}) %>
					<% } %>

					<div class="list" data-no-posts="<%= (normal_posts <= 0) ? 1 : 0 %>">
						<% for (const post of normal_posts) { %>
						<%- include("../partials/elements/ugc/posts.ejs", {
                                post : post,
								show_community : false
                            }) -%>
						<% } %>

						<% if (normal_posts.length <= 0) { %>
						<span class="no-posts">There are no posts yet.</span>
						<% } %>
					</div>

					<span class="loading none"></span>
				</div>
				<%} %>
			</div>
		</div>
	</div>

	<%- include("../partials/elements/footer.ejs") -%>
</body>

</html>