<div class="small-post-wrapper">
	<%- include("./user_profile_image.ejs") -%>

	<div class="small-post trigger no-bg" data-href="/posts/<%= post.id %>">
		<div class="content-wrapper">
			<% if (post.body) { %>
			<p><%= post.body %></p>
			<% } else { %>
			<img src="<%= post.painting_cdn_url %>" alt="Painting from <%= post.mii_name %>">
			<% } %>
		</div>

		<div class="post-actions">
			<span class="empathy-count"><%= post.empathy_count %></span>
			<span class="reply-count"><%= post.reply_count %></span>
		</div>

		<div class="small-community-wrapper" data-href="/communities/<%= post.community_id %>">
			<a href="/communities/<%= post.community_id %>"><img alt="<%= post.community_name %>" src="<%= post.cdn_icon_url %>"></a>
			<a class="community_name trigger no-bg" href="/communities/<%= post.community_id %>"><%= post.community_name %></a>
		</div>
	</div>
</div>