<div class="sidebar">
	<div class="user-info-wrapper">
		<%- include("./user_side_panel.ejs", {
				account : view_user,
				account_stats : view_user_stats
		}) -%>
	</div>

	<div class="user-menu extend">
		<a class="trigger all-posts <%= (all_posts) ? "selected" : "" %>" href="/users/<%= view_user.username %>/posts">
			<span>All Posts</span>
			<span class="number"><%= view_user_stats.post_count %></span>
		</a>
		<a class="trigger empathies <%= (all_empathies) ? "selected" : "" %>" href="/users/<%= view_user.username %>/empathies">
			<span>Yeahs</span>
			<span class="number"><%= view_user_stats.empathy_count %></span>
		</a>
	</div>

	<div class="user-info-wrapper">
		<p class="bio"><%- view_user.bio.replace(/\n/g, "<br>") %></p>
	</div>

	<div class="user-menu">
		<a class="trigger favorites" href="/users/<%= view_user.username %>/favorites">
			<span>Favorite Communities</span>
		</a>
		<div class="favorites-wrapper">
			<div>
				<% for (const community of view_user_favorites) { %>
				<a href="/communities/<%= community.id %>">
					<img class="icon" src="<%= community.cdn_icon_url %>">
					<img class="platform <%= community.platform %>">
				</a>
				<% } %>

				<% if (!view_user_favorites.length) { %>
				<span class="no-posts">No favorites exist yet.</span>
				<% } %>
			</div>
		</div>
	</div>
</div>