<a href="/users/<%= post.username %>">
	<% switch (post.feeling_id) {
                        case 0:%>
	<img src="<%= post.cdn_profile_normal_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        case 1:%>
	<img src="<%= post.cdn_profile_happy_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        case 2:%>
	<img src="<%= post.cdn_profile_like_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        case 3:%>
	<img src="<%= post.cdn_profile_surprised_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        case 4:%>
	<img src="<%= post.cdn_profile_frustrated_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        case 5:%>
	<img src="<%= post.cdn_profile_puzzled_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'" alt="<%= post.mii_name %>">
	<% break;
                        default:%>
	<img src="<%= post.cdn_profile_normal_image_url %>" class="user-icon" onerror="this.src='../../../img/mii_null.png'">
	<% break;
                    } %>
</a>