<div class="sidebar">
	<div class="user-info-wrapper">
		<%- include("./user_side_panel.ejs", {
				account : view_user,
				account_stats : view_user_stats
		}) -%>
	</div>

	<div class="user-menu extend">
		<a class="trigger all-posts <%= (all_posts) ? "selected" : "" %>" href="/users/<%= view_user.username %>/posts">
			<span>All Posts</span>
			<span class="number"><%= view_user_stats.post_count %></span>
		</a>
		<a class="trigger empathies <%= (all_empathies) ? "selected" : "" %>" href="/users/<%= view_user.username %>/empathies">
			<span>Yeahs</span>
			<span class="number"><%= view_user_stats.empathy_count %></span>
		</a>
	</div>

	<div class="user-info-wrapper">
		<p class="bio"><%- view_user.bio.replace(/\n/g, "<br>") %></p>
	</div>
</div>