<div class="user-info">
	<div>
		<a href="/users/<%= account.username %>">
			<img src="<%= account.cdn_profile_normal_image_url %>">
		</a>
		<div class="user-meta">
			<a class="mii_name trigger no-bg" href="/users/<%= account.username %>"><%= account.mii_name %></a>
			<span class="nnid"><%= account.username %></span>
		</div>
	</div>
	<% if (!locals.guest_mode) { %>
	<% if (account.id === locals.user.id) { %>
	<button class="profile-settings">Profile Settings</button>
	<% } else { %>
	<button class="profile-settings">Add Friend</button>
	<% } %>
	<% } %>

	<div class="user-stats">
		<a href="/users/<%= account.username %>/friends">
			<span>
				<span class="number">
					<%= account_stats.friend_count %> / 100
				</span>
				Friends
			</span>
		</a>

		<a href="/users/<%= account.username %>/following">
			<span>
				<span class="number">
					<%= account_stats.following_count %>
				</span>
				Following
			</span>
		</a>

		<a href="/users/<%= account.username %>/followers">
			<span>
				<span class="number">
					<%= account_stats.followers_count %>
				</span>
				Followers
			</span>
		</a>
	</div>
</div>