<div class="user-sidebar">
	<div class="user-info-wrapper">
		<%- include("./user_side_panel.ejs", {
				account : view_user
		}) -%>
	</div>

	<div class="user-menu">
		<div class="trigger all-posts <%= (all_posts) ? "selected" : "" %>" data-href="/users/<%= view_user.nnid %>/posts">
			<span>All Posts</span>
			<span class="number"><%= view_user_stats.post_count %></span>
		</div>
		<div class="trigger empathies <%= (all_empathies) ? "selected" : "" %>" data-href="/users/<%= view_user.nnid %>/empathies">
			<span>Yeahs</span>
			<span class="number"><%= view_user_stats.empathy_count %></span>
		</div>
	</div>

	<div class="user-info-wrapper">
		<p class="bio"><%= view_user.bio %></p>
	</div>
</div>